*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;  
    font-family: 'Amatic SC', cursive;
    font-family: 'Inter', sans-serif;
}
.container{
    width: 90%;
    margin: auto;
}
.home .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding: 20px;
    background-color: #ffffff;
    
}
.home ul li .active{
    color: #222;
}
.home ul li .active::before{
    content: '';
    width: 60%;
    height: 2px;
    background-color:#CE1212 ;
    position: absolute;
    top: 33px;
    left: 16px;
    transition: all .3s;
} 
.home ul li::after{
    content: '';
    background-color: #CE1212;
    position: absolute;
    top: 33px;
    left: 16px;
}
.home ul li a:hover{
    color: #222;
}
.home ul li:hover::after{
    animation: border .2s .2s ease-in forwards ;
}
@keyframes border{
    0%{
        width: 10%;
        height: 2px;
    }
    25%{
        width: 25%;
        height: 2px;
    }
    50%{
        width: 40%;
        height: 2px;
    }
    75%{
        width: 50%;
        height: 2px;
    }
    100%{
        width: 60%;
        height: 2px;
    }
}
.home .nav h1 a{
    font-size: 30px;
    color: #212529;
    font-weight: 700;
}
.home .nav h1 a::after
{
    content: '.';
    color: #CE1212;
}
.home .nav ul li{
    display: inline-block;
    position: relative;
    transition: all .2s;
}
.nav ul li a{
    display: block;
    padding: 5px 15px;
    font-size: 17px;
    font-weight: 600;
    color: #7d7d7d;
    transition: all .4s;
}
.nav i{
    font-size: 30px;
}
.home-content{
    background-color: #EEEEEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-content .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}
.home-content .left{
    width: 40%;
}
.home-content .left h2{
    color: #37373f;
    font-size:65px ;
    font-weight: 700;
    font-family: 'Amatic SC', cursive;
}
.home-content .left p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin: 20px 0;
    color: #4F4F5A;
}
.home-content .right{
    width: 35%;
    margin-right: 45px;
}
.home-content .right img{
    width:100%;
}
.home-content .right img:hover{
    animation: shake 1s infinite;
}
@keyframes shake {
    0% {
            transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
            transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
            transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
            transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
            transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
            transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
            transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
            transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
            transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
            transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
            transform: translate(1px, -2px) rotate(-1deg);
    }
}
.home-content .left .btn-group{
    display: flex;
    gap: 30px;
}
.home-content .left .first-btn{
    background-color: #CE1212;
    border:1px solid #CE1212 ;
    border-radius: 0px 70px 70px;
    padding: 15px 5px;
}
.home-content .left .first-btn a{
    color: #EEEEEE;
    padding: 20px;
}
.home-content .left .btn-video a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: black;
    font-size: 16px;
    font-weight: 600;
    transition: all .3s;
}
.home-content .left .btn-video a:hover{
    color: #CE1212;
}
.home-content .left .btn-video .border{
    width: 55px;
    height: 55px;
    background-image: linear-gradient(to right , red 0% 50% , transparent 50% 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.home-content .btn-video .border::before{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: inherit;
}
.home-content .border i{
    z-index: 2;
}
.home-content .left span{
    margin-left: 20px;
}
.section2{
    padding: 70px 0;
}
.section2 .main-tittle{
    text-align: center;
    margin-bottom: 40px;
}
.section2 .main-tittle h2{
    color: #7f7f90;
    font-weight: 400;
    font-size: 0.875rem;
}
.section2 .main-tittle p{
    font-size: 3.125rem;
    font-family: 'Amatic SC', cursive ;
}
.section2 .main-tittle span{
    color: #CE1212;
    font-family: 'Amatic SC', cursive ;
}
.section2 .cards-cheefs{
    display: flex;
    gap: 1.875rem;
    flex-wrap: wrap;
}
.section2 .cards-cheefs .pic{
    width: 100%;
}
.section2 .cards-cheefs img{
    width: 100%;
}
.section2 .cards-cheefs .card{
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: all .2s;
    width: 30%;
    overflow: hidden;
}
.cards-cheefs .content-card{
    padding: 1.56rem;
}
.cards-cheefs .content-card h3{
    font-family: 'Inter', sans-serif;
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 8px;
}
.cards-cheefs .content-card span{
    font-size: 14px;
    color: #7f7f90;
}
.cards-cheefs .content-card p{
    color: #7f7f90;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    margin-top: 10px;
}
.cards-cheefs .social-box{
    position: absolute;
    top: 32px;
    right: -50px;
    width: fit-content;
    border-radius: 0.3125rem;
    background-color: #ffffff4d;
    padding: 0 5px;
    transition: all .7s;
}
.cards-cheefs .social-box i{
    color: #37373f66;
    padding: 20px 5px;
    transition: all .3s;
}
.cards-cheefs .card:hover{
    transform: scale(1.1);
}
.cards-cheefs .card:hover .social-box{
    right: 15px;
}
.cards-cheefs .card .social-box a{
    display: inline-block;
}
.cards-cheefs .card .social-box i:hover{
    color: #212529;
}
.section-gallery{
    padding: 80px 0;
    background-color: #eeeeee;
}
.section-gallery .main-tittle{
    text-align: center;
    margin-bottom: 1.565rem;
}
.section-gallery .main-tittle h2{
    color: #7f7f90;
    font-weight: 400;
    font-size: 0.875rem;
    text-transform: uppercase;
}
.section-gallery .main-tittle p{
    font-size: 3.125rem;
    font-family: 'Amatic SC', cursive ;
}
.section-gallery .main-tittle span{
    color: #CE1212;
    font-family: 'Amatic SC', cursive ;
}
.section-gallery .gallery-pic{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
    height: 1200px;
    width: 100%;
}
.section-gallery .gallery-pic .pic{
    width: calc(calc(100% - 20px *2 ) / 3 );
    position: relative;
    overflow: hidden;
    border: 4px solid #ffffff;
}
.gallery-pic .pic:hover .layer{
    top: 0;
}
.section-gallery .gallery-pic img{
    width: 100%;
    transition: all .3s;
}
.section-gallery .gallery-pic img:hover{
    transform: scale(1.1);
}
.gallery-pic .pic .layer{
    position: absolute;
    padding: 20px;
    width: 100%;
    top: 100%;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.308);
    color: #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}
.gallery-pic .pic .layer p{
    text-align: center;
    margin-top: 10px;
}
.contact-us {
    padding: 80px 0;
}
.contact-us .main-tittle{
    text-align: center;
    margin-bottom: 1.5625rem;
}
.contact-us .main-tittle h2{
    color: #7f7f90;
    font-weight: 400;
    font-size: 0.875rem;
    text-transform: uppercase;
}
.contact-us .main-tittle p{
    font-size: 3.125rem;
    font-family: 'Amatic SC', cursive ;
}
.contact-us .main-tittle span{
    color: #CE1212;
    font-family: 'Amatic SC', cursive ;
}
.contact-us iframe{
    width: 100%;
    height: 21.875rem;
    margin-bottom: 30px;
}
.contact-us .contact-details{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.contact-us .contact-details .contact{
    width: calc(calc(100% - 20px) / 2);
    display: flex;
    align-items: center;
    padding: 1.56rem;
    background-color: #F5F5F5;
}
.contact-us .contact-details .contact .icon{
    border-radius: 50%;
    background-color: #CE1212;
    padding: 15px;
    color: #eeeeee;
    margin-right: 20px;
}
.contact-us .contact-details .contact .content h3{
    color: #7d7d7d;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0 0 5px 0;
}
.contact-us .contact-details .contact .content a{
    color: inherit;
}
.contact-us form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem;
    gap: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 0 1.875rem #00000014;
    margin-top: 30px;
}
.contact-us form > *:not(button){
    width: 100%;
}
.contact-us .input-group{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.contact-us .input-group input{
    width: calc(calc(100% - 20px) / 2);
}
.contact-us :is(input,textarea){
    padding: 15px;
    border: 2px solid rgba(128, 128, 128, 0.288);
    font-family: inherit;
    transition: all .4s;
}
.contact-us :is(input , textarea):focus{
    outline: none;
    border-color: #CE1212;
}
.contact-us textarea{
    resize: vertical;
    min-height: 150px;
    max-height: 300px;
}
.contact-us form button{
    color: #eeeeee;
    background-color: #CE1212;
    padding: 14px 40px;
    border-radius: 100vh;
    cursor: pointer;
    border: 2px solid transparent;
    margin-top: 20px;
    transition: all .3s;
}
.contact-us form button:hover{
    background-color: #f22121;
}
.footer{
    background-image: linear-gradient(#0009, #0009) ,url(../images/textured-metal-background.jpg);
    background-size: contain;
    color: #eeeeee;
}
.footer .container{
    display: flex;
    gap: 20px;
    padding: 35px 0;
}
.footer :is(.about , .contact-tail){
    width: calc(calc(100% - 20px *2) / 4);
}    
.footer .subscribtion{
    width: calc(calc( 100% - 20px * 2) / 2);
}
.footer .about .first-about{
    display: flex;
    gap: 15px;
    align-items: center;
}
.footer .about img{
    width: 40px;
    height: 40px;
}
.footer .about p{
    margin: 10px 0 ;
    font-size: 17px;
    line-height: 1.5;
}
.footer .about h3{
    text-align: center;
    border-bottom: 2px solid rgba(128, 128, 128, 0.39);
    font-size: 20px;
    padding: 9px 0;
    margin: 9px 0;
}
.footer .about ul{
    display: flex;
    justify-content: space-around;
    padding: 10px 0 ;
}
.footer .about ul i{
    font-size: 22px;
    color: #EEEEEE;
}
.footer .subscribtion{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.footer .input-footer{
    display: flex;
    gap: 7px;
}
.footer .subscribtion .input-footer input{
    flex-grow: 1;
    padding: 10px;
}
.footer .subscribtion .input-footer input:focus{
    outline: none;
}
.footer .subscribtion .input-footer button{
    min-width: 120px;
    border: 2px solid transparent;
    background-color: #CE1212;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #eeeeee;
    font-weight: 400;
}
.footer .subscribtion .input-footer button i{
    font-size: 22px;
    color: #eeeeee;
}
.footer .quick-links ul{
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    margin-top: 14px;
}
.footer .quick-links ul li {
    width: calc(calc(100% - 10px) / 2);
    padding: 5px;
    transition: all .3s;
}.footer ul li a{
    color: #eeeeee;
}
.footer .quick-links ul li::before{
    content: '\f105';
    font: var(--fa-font-solid);
    margin-right:10px ;
}
.footer .quick-links ul li:hover{
    background-color: #222;
    transform: translateX(10px);
}
.footer .contact-tail h3{
    margin-bottom: 17px;
}
.footer .contact-tail ul li{
    display: flex;
    gap: 10px;
    align-items: center;
}
.footer .contact-tail ul li i {
    width: 40px;
    height: 40px;
    color: #CE1212;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.footer .contact-tail ul li i + *{
    font-size: 16px;

}


